.backdrop-text {
    position: fixed;
    transform: translateY(-50%);
    right: -650px;
    top: 50%;
    opacity: 0.05;
    z-index: -999;
    font-size: 500px;
    user-select: none;
}

.hi {
    font-weight: 400;
}

.home-text{
    width: 100%;
    height: 100%;
    align-items: end;
    /* align-items: center; */
    text-align: right;
    padding: 0 30px;
    justify-content: right;
    display: flex;
    flex-direction: column;
    gap: 0;

}

.my-name {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
    gap: 0;
}

.my-name h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.side-comment {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
    /* font-weight: 600; */
}

.side-comment p {
    margin: 3px;
}

@media (max-width: 1080px) {
    .my-name {
        font-size: 20px;

    }
}

@media (max-width: 968px) {
    .my-name {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 16px;
    }
}

@media (max-width: 810px) {
    .my-name {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 12px;
    }

    .hi {
        font-size: 21px;
    }

    .side-comment {
        font-size: 16px;
        gap: 10px;
    }
}


@media (max-width: 425px) {
    .my-name {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 12px;
        align-items: center;
    }

    .hi {
        font-size: 21px;
        align-items: center;
    }

    .side-comment {
        font-size: 16px;
        gap: 10px;
    }

    .home-text{
        width: 100%;
        height: 100%;
        align-items: center;
        text-align: center;
    
    }
}