.backdrop-text3 {
    position: fixed;
    /* top: 5%;
    right: -1595px; */
    /* transform: translateX(1000px); */
    transform: translateY(-50%);
    top: 50%;
    /* top: 0;
    bottom: 1000px; */
    right: -917px;
    opacity: 0.05;
    z-index: -1;
    font-size: 500px;
    user-select: none;
}

.profile-container {
    /* margin-left: 50px; */
    align-items: end;
    text-align: right;
    padding: 0 30px;
    justify-content: right;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.download-btn {
    background-color: white;
    color: black;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 16px;
    font-family: 'Italiana', serif;
    font-weight: 600;
    cursor: pointer;
    margin-top: 35px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: right;
}

.intro p{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
}

.info-me {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: right;
    margin-bottom: 30px;
    margin-top: 30px;
}

.info-me p{
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 5px;
}



@media (max-width: 1080px) {
    .info-me p{
        font-size: 22px;
    }

    .intro p{
        font-size: 25px;
    }
}

@media (max-width: 986px) {
    .profile-container {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .info-me {
        align-items: center;
        text-align: center;
        gap: 0;
    }

    .info-me p{
        font-size: 18px;
    }

    .intro {
        align-items: center;
    }

    .intro p{
        font-size: 25px;
        text-align: center;
    }

    .side-comment p {
        font-size: 15px;
    }
}

@media (max-width: 810px) {
    .profile-container{
        text-align: center;
    }

    .info-me p{
        font-size: 15px;
        text-align: center;
    }

    .intro p{
        font-size: 20px;
        text-align: center;
    }

    .intro {
        align-items: center;
    }

    .side-comment {
        font-size: 10px;
        gap: 10px;
    }
    .profile-container {
        align-items: center;
        margin-right: 0;
    }
}

@media (max-width: 425px) {
    .profile-container{
        text-align: center;
        margin: 0;
    }

    .info-me p{
        font-size: 16px;
        text-align: center;
    }

    .intro p{
        font-size: 21px;
        text-align: center;
    }

    .intro {
        align-items: center;
    }

    .side-comment {
        font-size: 10px;
        gap: 10px;
    }
    .profile-container {
        align-items: center;
        margin-right: 0;
    }
}